.backToTopButton {
  position: fixed;
  right: 1.3rem;
  bottom: 1.3rem;
  border-radius: 50%;
  background-color: var(--ifm-color-primary-light);
  width: 3rem;
  height: 3rem;
  z-index: calc(var(--ifm-z-index-fixed) - 1);
  box-shadow: var(--ifm-global-shadow-lw);
  transition: all var(--ifm-transition-fast) var(--ifm-transition-timing-default);
  opacity: 0;
  transform: scale(0);
  visibility: hidden;
}

.backToTopButton::after {
  content: ' ';
  display: inline-block;
  mask: var(--ifm-menu-link-sublist-icon) 50% / 2rem 2rem no-repeat;
  background-color: var(--ifm-color-primary-darkest);
  width: 100%;
  height: 100%;
}

@media (hover: hover) {
  .backToTopButton:hover {
    background-color: var(--ifm-color-primary-lighter);
  }
}

.backToTopButtonShow {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}
